.manage-specialty-container {
    padding: 10px;


    .ms-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .col-12 {
        margin-top: 10px;
    }




    .btn-save-specialty {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;

        &:hover {
            background-color: #0056b3;
        }
    }
}